
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@{
    int id = Convert.ToInt32(Context.Request.Query.Select(x => x.Value).SingleOrDefault());

}
@if (id != 0)
{
    @foreach (Book book in ViewBag.Books)
    {
        @if (book.ID == id)
        {
            <p>You checked out @(book.Title) on @(book.CheckedOutDate), and the due date is @(book.DueDate)</p>
        }

    }
}
else
{
    <p>No book selected</p>
}
<section>
    <form action="/Book/Details" method="get">
        <input type="submit" value="Extend Due Date" />
    </form>
</section>
<section>
    <form action="/Book/Details" method="get">
        <input type="submit" value="Return Book" />
    </form>
</section>
<section>
    <form action="/Book/Details" method="get">
        <input type="submit" value="Remove Book" />
    </form>
</section>