
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<section>
    @if (ViewBag.Books.Count > 0)
    {
        <ul>
            @foreach (Book book in ViewBag.Books)
            {
               <li><a href="/Book/Details?id=@(book.ID)">@(book.Title) By @(book.Author)</a></li>
            }

        </ul>
    }
</section>



